<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%= Routes.static_path(@conn, "/favicon.ico") %>">

    <title>Bitcoin Statistics</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Project 5 - Bitcoin metrics</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <img src="<%= Routes.static_path(@conn, "/btc.png") %>" class="rounded float-right" height="32" width="32">
          <!-- <a class="nav-link" href="#">Sign out</a> -->
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a id="msg" class="nav-link" href="<%= Routes.page_path(@conn, :index) %>">
                  <span data-feather="globe"></span>
                  Messages sent <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a id="tx" class="nav-link" href="<%= Routes.page_path(@conn, :transactions) %>">
                  <span data-feather="navigation"></span>
                  Transactions created
                </a>
              </li>
              <li class="nav-item">
                <a id="tx_trans" class="nav-link" href="<%= Routes.page_path(@conn, :transacted) %>">
                  <span data-feather="dollar-sign"></span>
                  Transacted bitcoins
                </a>
              </li>
              <li class="nav-item">
                <a id="btc_mined" class="nav-link" href="<%= Routes.page_path(@conn, :mined) %>">
                  <span data-feather="copy"></span>
                  Bitcoins mined
                </a>
              </li>
              <li class="nav-item">
                <a id="hash_rate" class="nav-link" href="<%= Routes.page_path(@conn, :hashrate) %>">
                  <span data-feather="zap"></span>
                  Hash rate
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Dynamic html -->
    <script>
    function setActive(id){
      $("#"+id).addClass("active");
    }

    var active_page = window.location.href;
    active_page = active_page.substr(active_page.lastIndexOf('/')+1);
    switch (active_page) {
      case "transactions":
        setActive("tx");
        break;
      case "transacted":
        setActive("tx_trans");
        break;
      case "mined":
        setActive("btc_mined");
        break;
      case "hashrate":
        setActive("hash_rate");
        break;
      default:
        setActive("msg");
    };
    </script>
  </body>
</html>
